* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Dongle', sans-serif;
}

body {
  background-color: #00688b;
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
}

.navbar {
  height: 10vh;
  padding: 3rem 20rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar h1 {
  font-size: 6rem;
}

.navbar ul {
  display: flex;
  font-size: 2rem;
}

.navbar ul li {
  list-style: none;
  margin-left: 1rem;
}

.bookshelf {
  position: relative;
  padding: 1rem;
  padding-bottom: 2rem;
}

.bookshelf-container{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 1rem;
}

.book {
  position: relative;
  height: 200px;
  border: 1px solid black;
  box-shadow: 2px 4px;
  border-radius: 20px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  background-color: #03a89b;
  font-weight: 300;
  line-height: 1.5rem;
  flex-wrap: wrap;
}

.book:hover {
  opacity: 50%;
}

.book-title {
  font-size: 2rem;
  font-weight: 700;
  padding-top: 10px;
  width: 95%;
  text-align: center;
}

.buttons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: 90%;
  justify-content: space-around;
  
}

.book-btn {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 20px;
  background-color: #FF6961;
  border: 3px solid black;
  display: none;
}

.book:hover > .buttons > .book-btn {
  display: inline-block;
  opacity: 100%;
}
 
#read-btn {
  width: 5rem;
}

.book-btn:hover {
  cursor: pointer;
}

.add-book {
  height: 200px;
  border: 5px solid black;
  border-radius: 20px;
  display: grid;
  font-size: 2rem;
}

#open-form {
  align-items: center;
  justify-content: center;
  font-size: 10rem;
  background-color: #03a89b80;
}

#open-form:hover {
  font-size:15rem;
  background-color: #03a89b;
  cursor: pointer;
}

.new-book-form {
  border: 5px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 330px;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  background-color: #03a89b;
  border-radius: 20px;
  visibility: hidden;
}

.form-input-box {
  width: 85%;
  height: 2.5rem;
  padding: 1rem;
  border-radius: 20px;
  border: none;
}

.form-title {
  display: Flex;
  justify-content: space-between;
  width: 90%;
}

.form-close {
  color: Black;
  text-decoration: none;
  font-size: 1.5rem;
}

#add-btn {
  background-color: lightgreen;
  padding: 0.5rem;
}

.footer {
  text-align: center;
  height: 2rem;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.footer a {
  color: black;
  font-size: 1.2rem;
  font-style: bold;
}